<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://groundwork.sidereel.com/css/groundwork.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
    <% for(var i=0; i<2; i++) {%>
      <div class="row">
      <% for(var j=0; j<4; j++) {%>
      <div class="one fourth bottom padded"><img src="http://buycds.files.wordpress.com/2009/01/boxart_eur_dragon-ball-z-budokai-tenkaichi-3.jpg" width="200"></div>
      <% } %>
      </div>
    <% } %>
    </div>
  </body>

</html>
